@mixin item-boxes() {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px;
    background-color: blueviolet;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
}

.display {
    width: 100vw;
    background-color: blanchedalmond;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    &__product {
        width: 200px;
        height: 300px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
        border-radius: 50%;
        font-weight: bold;
        color: white;
        background-color: cadetblue;
    }
    &__name {
        @include item-boxes();
        text-transform: uppercase;
    }
    &__price {
        @include item-boxes();
    }
    &__qty {
        @include item-boxes();
    }
    &__btn {
        @include item-boxes();
        width: 80%;
        margin: 0 auto;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: rgb(93, 50, 114);
    }
}
